.form {
    &__input {
        border: none;
        border-radius: 4px;
        padding: 1rem 1.5rem;
        font-size: 1.6rem;
        background-color: rgba($color-white, .5);
        font-family: inherit;
        border-bottom: 3px solid transparent;
        display: block;
        width: 100%;
        transform: all .2s;
        color: $primary-color-dark;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            border-bottom: 3px solid $primary-color;

            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
                color: $color-secondary-dark;
            }
        }

        &::placeholder {
            color: $color-grey-dark-2;
            transition: all .3s;
        }
    }
    
    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown ~ &__label {
        opacity: 0;
        transform: translateY(-4rem);
        visibility: hidden;
    }

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-label {
        font-size: $default-font-size;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }

    &__radio-button {
        display: inline-block;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: .5rem solid $primary-color;
        position: absolute;
        left: 0;

        &::after {
            content: "";
            height: 1.5rem;
            width: 1.5rem;
            display: block;
            background-color: $primary-color;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~&__radio-label &__radio-button::after {
        opacity: 1;
    }

    &__radio-input {
        display: none;
    }
}