.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    margin-top: -15vh;
    height: 90vh;
    padding: 25rem 0;
    background-image: linear-gradient(to right, rgba($primary-color-light, .8), rgba($primary-color-dark, .8)), url('../../img/nat-4.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 15vh, 100% 0, 100% 75vh, 0 100%);
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 10rem 0;
    margin-top: -15vh;
}

.section-stories {
    position: relative;
    padding: 15rem 0;
}

.section-booking {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);
}

.book {
    background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 50%, transparent 50%), url(../img/nat-10.jpg);
    @include clearfix;
    height: 50rem;
    border-radius: 3px;
    background-size: cover;
    box-shadow: 0 1.5rem 3rem rgba($color-black, .3);

    &__form {
        width: 50%;
        padding: 6rem;
    }
}
